.l-aside{
  width: 100%;
  display: none;
  color: #707070;


  @include media(pc){
    width: 20%;
    min-width: 300px;
    display: block;
    justify-content: flex-end;
    background-color: #f2ede9;
  }
}

.l-aside.is-open{
  display: block;
}
