.l-aside{
  width: 100%;
  color: #707070;
  display: none;

  @include media(pc){
    display: block;
    width: 25%;
    justify-content: flex-end;
    background-color: #f2ede9;
  }
}

.l-aside.is-open{
  display: block;
}

.l-aside.is-close{
  display: none;

}