.u-single-list{
  width: 200px;
  padding: 30px 0;
  font-size: 16px;
  
  &__margin-right{
    margin-right: 10px;
    padding-bottom: 15px;

  }

  &__margin-left{
    margin-left: 10px;
    padding-bottom: 15px;
  }
}
