.p-archive{
  color: #3C2A10;

  &__title{
    display: block;
    padding: 30px 0;
    font-size: 28px;
    font-weight: 900;
  }

  &__textbox{
    width: 100%;
    height: auto;
    padding-bottom: 19px;

    @include media(tab){
      padding-bottom: 37px;
    }

    @include media(pc){
      padding-bottom: 70px;
    }

    & p{
      font-size: 16px;
    }
  }

}