.p-card{

  &--takeout1,&--eatin1{
  width: 90%;
  height: 25%;
  position: absolute;
  top: 43.5%;
  left: 5%;
  background-color:rgba(255,255,255,0.75);
  color: #3C2A10;
  }

  &--takeout2,&--eatin2{
  width: 90%;
  height: 25%;
  position: absolute;
  top: 70%;
  left: 5%;
  background-color: rgba(255,255,255,0.75);
  color: #3C2A10;
  }
}