.p-card{

  &--takeout1,&--eatin1{
  width: 90%;
  height: 25%;
  position: absolute;
  top: 43.5%;
  left: 5%;
  background-color:rgba(255,255,255,0.75);
  color: #3C2A10;
  }

  &--takeout2,&--eatin2{
  width: 90%;
  height: 25%;
  position: absolute;
  top: 70%;
  left: 5%;
  background-color: rgba(255,255,255,0.75);
  color: #3C2A10;
  }
}

// ====================================
// archive
// ====================================

.p-card--archive{
  margin-bottom: 20px;
  
  @include media(tab){
    display: flex;
    width: 100%;
    height: 354px;
  }

  @include media(pc){
    display: flex;
    width: 100%;
    height: 471px;
  }
}

.p-card__imagebox{
    width: 100%;
    height: 50vh;
    display: block;
    background-image: url(../img/archive-pc.png);
    background-size: cover;

    @include media(tab){
      width: 50%;
      height: 100%;
    }
  }

.p-card-box--archive{
  background-color: #3C2B1C;
  position: relative;
  color: #fff;
  padding-bottom: 60px;

  @include media(tab){
    width: 50%;
  }
}

// ====================================
// single
// ====================================

.p-card--item-explanation{
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  
  @include media(tab){
    height: 373px;
  }

  @include media(pc){
    height: 300px;
  }

  & img{
    width: 144px;
    height: 89px;
    margin-right: 10px;

    @include media(tab){
      width: 306px;
      height: 189px;
    }

    @include media(pc){
      width: 40%;
      height: 100%;
    }
  }

  .p-card__explanation__textbox{
    width: 183px;
    height: 174px;
    padding-right: 10px;
    overflow: hidden;

    @include media(tab){
      width: 387px;
      height: 372px;
      margin: 0 auto;
    }
    
    @include media(pc){
      width: 55%;
      height: 185px;
      margin: 0 auto;
    }

  & p{
    font-size: 13px;

    @include media(tab){
      font-size: 16px;
    }
  }
  }
}

.revese{
  flex-direction:row-reverse;
}