.p-map{
  position: relative;
  color: #fff;

  &__box{
  width: 100%;
  height: auto;
  background-color: #000000;
     
      @include media(tab){
       height: 41.5%;
     }

    &::after{
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.3);

      @include media(tab) {
        height: 100%;
      }

      @include media(pc){
        width: 60%;
        height: 100%;
      }
    } 
  }

  &__image{
    width: 100%;
    height: 691px;
    opacity: 0.5;
    display: block;
    background-size: contain;

    @include media(tab) {
      height: 100%;
    }


  }

  &__title{
    position: absolute;
    top: 8%;
    left: 7%;
    font-size: 1.8rem;

    @include media(tab) {
      top: 8%;
      font-size: 1.6rem;
    }

    @include media(pc){
      top: 6%;
      left: 3%;
      font-size: 1.6rem;
    }

    &::after{
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      height: 4px;
      bottom: -20px;
      left: 0;
      background-color: #fff;
    }
  }

  &__textbox{
    width: 85%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 7%;
    overflow: hidden;
    font-size: 0.9rem;
    line-height: 3;

    @include media(tab) {
      width: 88%;
      height: 60%;
      top: 30%;
      font-size: 0.8rem;
      line-height: 2;
    }

    @include media(pc){
      width: 55%;
      top: 28%;
      left: 3%;
      font-size: 0.8rem;
      line-height: 2;

    }
  }
}



