.p-single{
  &--eyechatch{
    width: 100%;
    height: 124px;
    margin-bottom: 30px;

    @include media(tab){
      height: 264px;
    }

    @include media(pc){
      max-height: 500px;
      height: 60%;

    } 

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  &--image1{
    width: 80%;
    display: flex;
    margin: 0 auto 30px auto;
    align-items: center;

    @include media(tab){
      margin-bottom: 241px;
    }

    @include media(pc){
      width: 65%;
      height: 30%;
      margin-bottom: 60px;
    }
  }
  
  &--image2{
    padding-bottom: 20px;

    @include media(tab){
      padding-bottom: 0;
    }
  }

  &__fontweight{
    font-weight: 900;
    margin-bottom: 177px;

  }
}


.container{
  display: inherit;

  @include media(tab){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;   
  }

  @include media(pc){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;   
  }
}


.p-single__table{
    width: 100%;
    color: #707070;
    border-collapse: collapse;

    &__td-left{
      width: 40%;
      height: 77px;
      border: solid 1px;
      padding: 10px;

      @include media(tab){
        height: 70px;
      }
      }
      
      &__td-right{
        width: 60%;
        height: 70px;
        border: solid 1px;
        padding: 10px;

        @include media(tab){
          height: 70px;
        }
      }
}
