* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Roboto, "M+ 1m", serif;
}

body {
  font-size: 62.5%;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #707070;
}

li {
  list-style: none;
}

.l-header {
  width: 100%;
  height: 217px;
  color: #707070;
  background-color: #FFF7EF;
}

@media only screen and (min-width: 1025px) {
  .l-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-main-wrapper {
  width: 90%;
  margin: 20px auto;
}

@media only screen and (min-width: 600px) {
  .l-main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5% auto;
  }
}

.l-main--map {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .l-main--map {
    width: 100%;
    height: 41.5%;
  }
}

.l-aside {
  width: 100%;
  display: none;
  color: #707070;
}

@media only screen and (min-width: 1025px) {
  .l-aside {
    width: 20%;
    min-width: 300px;
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #f2ede9;
  }
}

.l-aside.is-open {
  display: block;
}

.l-footer {
  width: 100%;
  height: 150px;
  color: #fff;
  background-color: #9D8670;
}

.l-footer a {
  color: #fff;
}

.l-blackLayer {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
}

.l-blackLayer.is-open {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: bg-color 0.3s;
          animation: bg-color 0.3s;
}

@-webkit-keyframes bg-color {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  20% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  40% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  60% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  80% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes bg-color {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  20% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  40% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  60% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  80% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (min-width: 1025px) {
  .l-blackLayer.is-open {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .l-contents-box {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1025px) {
  .l-contents-wrapper {
    width: 80%;
    height: auto;
  }
}

.c-button--nav {
  position: fixed;
  display: block;
  z-index: 200;
  top: 15px;
  right: -300px;
  width: 50px;
  height: 50px;
  margin: 10px 10px 0 0;
}

.c-button--nav.is-open {
  right: 15px;
}

.c-button--nav::before, .c-button--nav::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 500;
  top: 25px;
  right: 0;
  width: 45px;
  height: 3px;
  background-color: #707070;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-button--nav::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (min-width: 1025px) {
  .c-button--nav {
    display: none;
  }
}

.c-button--menu {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1025px) {
  .c-button--menu {
    display: none;
  }
}

.c-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-search-button {
  width: 20%;
  height: 40px;
  font-size: 12px;
  font-weight: 900;
  border: 1px solid #707070;
  border-radius: 8px;
  background-color: #F2EDE9;
}

.c-card__title {
  padding: 12px 10px;
  font-size: 25px;
}

.c-card__text {
  padding: 0 10px;
  font-size: 15px;
  color: #3C2A10;
}

.p-header {
  position: relative;
}

.p-header__title {
  padding: 40px 0;
  font-size: 2.5rem;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  .p-header__title {
    padding-left: 20px;
  }
}

.fas {
  padding: 0 2%;
  font-size: 1rem;
}

.p-search {
  max-width: 550px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  .p-search {
    margin: 0 20px 0 0;
    padding-bottom: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-search__box {
  width: 60%;
  height: 40px;
  margin-right: 3%;
  border: 1px solid #707070;
  border-radius: 8px;
  background-color: #fff;
}

@media only screen and (min-width: 1025px) {
  .p-search__box {
    width: 30vw;
  }
}

.p-mainvisual {
  width: 100%;
  height: 285px;
  position: relative;
}

@media only screen and (min-width: 1025px) {
  .p-mainvisual {
    height: auto;
  }
}

.p-mainvisual__title {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 36px;
  color: #fff;
}

.p-mainvisual__image {
  width: 100%;
  height: 100%;
  max-height: 530px;
  background-size: cover;
}

.p-main-article {
  width: 100%;
  position: relative;
}

.p-main-article:nth-child(1) {
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .p-main-article:nth-child(1) {
    margin-bottom: 0;
  }
  .p-main-article:nth-child(2) {
    margin-left: 5%;
  }
}

.p-main-article__title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 41px;
}

.p-main-article__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  bottom: -15px;
  left: 0;
  background-color: #fff;
}

.p-main-article__image {
  width: 100%;
}

.p-card--takeout1, .p-card--eatin1 {
  width: 90%;
  height: 25%;
  position: absolute;
  top: 43.5%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #3C2A10;
}

.p-card--takeout2, .p-card--eatin2 {
  width: 90%;
  height: 25%;
  position: absolute;
  top: 70%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #3C2A10;
}

.p-map {
  position: relative;
  color: #fff;
}

.p-map__box {
  width: 100%;
  height: auto;
  background-color: #000000;
}

@media only screen and (min-width: 600px) {
  .p-map__box {
    height: 41.5%;
  }
}

.p-map__box::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 600px) {
  .p-map__box::after {
    height: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .p-map__box::after {
    width: 60%;
    height: 100%;
  }
}

.p-map__image {
  width: 100%;
  height: 691px;
  opacity: 0.5;
  display: block;
  background-size: cover;
}

@media only screen and (min-width: 600px) {
  .p-map__image {
    height: 100%;
  }
}

.p-map__title {
  position: absolute;
  top: 8%;
  left: 7%;
  font-size: 1.8rem;
}

@media only screen and (min-width: 600px) {
  .p-map__title {
    top: 8%;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1025px) {
  .p-map__title {
    top: 6%;
    left: 3%;
    font-size: 1.6rem;
  }
}

.p-map__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 4px;
  bottom: -20px;
  left: 0;
  background-color: #fff;
}

.p-map__textbox {
  width: 85%;
  height: 70%;
  position: absolute;
  top: 20%;
  left: 7%;
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 3;
}

@media only screen and (min-width: 600px) {
  .p-map__textbox {
    width: 88%;
    height: 60%;
    top: 30%;
    font-size: 0.8rem;
    line-height: 2;
  }
}

@media only screen and (min-width: 1025px) {
  .p-map__textbox {
    width: 55%;
    top: 28%;
    left: 3%;
    font-size: 0.8rem;
    line-height: 2;
  }
}

.p-global-nav {
  width: 75%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: -500px;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 100;
  background-color: #f2ede9;
}

.p-global-nav.is-open {
  right: 0;
}

.p-global-nav::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 600px) {
  .p-global-nav {
    max-width: 300px;
  }
}

.p-global-nav__title {
  display: none;
}

.p-global-nav__menu {
  padding: 200px 0 0 20px;
  height: 100%;
  overflow: auto;
}

.p-global-nav__menu__title {
  padding-bottom: 25px;
}

.p-global-nav__menu__title > a {
  display: block;
  padding-bottom: 40px;
  font-size: 22px;
  font-weight: 900;
}

.p-global-nav__menu__list__item {
  font-size: 18px;
  padding-left: 15px;
  line-height: 3;
  overflow: auto;
}

@media only screen and (min-width: 1025px) {
  .p-global-nav {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    z-index: inherit;
  }
  .p-global-nav__title {
    display: block;
    font-size: 24px;
    padding: 82px 0 85px 46px;
  }
  .p-global-nav__menu {
    padding: 50px 0 0 46px;
  }
}

.p-footer {
  text-align: center;
}

.p-footer__text {
  display: block;
  font-size: 0.9rem;
  padding: 40px 0 34px 0;
}

.p-footer__copyright {
  font-size: 0.7rem;
  padding-top: 20px;
}
/*# sourceMappingURL=style.css.map */